.pnfLogo{width: 125px; position: absolute; top: 35px; left: 40px;}
.pnfContainer{width: 900px; position: fixed; top: 50%; left: 50%;  transform: translate(-50%, -50%); }
.pnfLeft{width: 400px; float: left; position: relative;}
.pnfLeft h1{color: #525252; font-size: 75px; font-weight: 400; margin-bottom: 10px;}
.pnfLeft h5{font-weight: 700; font-size: 16px; color: #525252; margin: 15px 0;}
.pnfLeft a{line-height: 23px; font-size: 13px;}
.pnfLeft a:hover{text-decoration: none; color: #525252;}