
<div class="col-md-12 join_left_navigation">

        
  <div class= "col-md-12 navigation_items float-left" routerLinkActive="active">
    <a routerLink="/account-settings/company" class= "col-md-12 float-left">
      <div class= "navigation_img float-left"><img src= "assets/images/userTable.png"></div>
      <div class= "navigation_name float-left">Companies and Outlets</div>
      <div class= "right_icon float-right"><img src= "assets/images/rightArrow.png"></div>
    </a>
  </div>

  
  <div class= "col-md-12 navigation_items float-left" routerLinkActive="active">
    <a routerLink="/account-settings/employee" class= "col-md-12 float-left">
      <div class= "navigation_img float-left"><img src= "assets/images/user.png"></div>
      <div class= "navigation_name float-left">Employee Management</div>
      <div class= "right_icon float-right"><img src= "assets/images/rightArrow.png"></div>
    </a>
  </div>

  <div class= "col-md-12 navigation_items float-left" routerLinkActive="active">
    <a routerLink="/account-settings/subscription" class= "col-md-12 float-left">
      <div class= "navigation_img float-left"><img src= "assets/images/invoice.png"></div>
      <div class= "navigation_name float-left">Subscription and Billing</div>
      <div class= "right_icon float-right"><img src= "assets/images/rightArrow.png"></div>
    </a>
  </div>
