<div class="dineindashboard">
  <ngb-tabset>
    <ngb-tab title="Live Requests">
      <ng-template ngbTabContent>
        <div class="row liveRequestMain">
          <div class="col-md-3">
            <h4 class="live_req">Live Requests</h4>
          </div>
          <div class="col-md-9 d-flex justify-content-end btnContainer">
            <app-checkavailabilitypopup></app-checkavailabilitypopup>
            <app-addreservationpopup></app-addreservationpopup>
            <app-addwalkinpopup></app-addwalkinpopup>
            <app-dineinfilters></app-dineinfilters>
            <app-reservetablepopup></app-reservetablepopup>             
          </div>
        </div>
        <div class="row bookingDetails">
          <div class="col-md-4"><span class="bdDate">14-11-2018</span> (11.30 am - 12.30 pm)</div>
          <div class="col-md-8 d-flex justify-content-end">
            <span>Bookings - 5</span>
            <span>Diners - 12</span>
          </div>
        </div>
        <div class="row">  
          <div class="col-md-12 dbTable">
            <table class="table">
              <tr *ngFor="let user of respData">
                <td>
                  <a href="javascript:;" placement="top" ngbTooltip="Assign Table"><img src="assets/images/dinein_table.png" /></a>
                </td>
                <td>
                  <div class="usernameContainer">
                    <span><img src="assets/images/userdetails.png"/></span>
                    <span>
                      <strong>{{ user.name}}</strong><br>
                      {{ user.phone }}
                    </span>
                  </div>
                </td> 
                <td>
                  AB's - Jubilee Hills<br>
                  14-11-2018<br>      
                </td>
                <td>
                  Pay For <br>
                  Dineout
                </td> 
                <td>
                  Requested<br>
                  14-11-2018<br>
                  12:30PM
                </td>
                <td>
                  <b>Booked</b><br>
                  14-11-2018<br>
                  12:30PM
                </td> 
                <td>17 Visits</td>
                <td><a href="javascript:;"><img src="assets/images/loading.png"/></a></td>
                <td><a href="javascript:;"><img src="assets/images/done.png"/></a></td>
                <td><a href="javascript:;"><img src="assets/images/delete.png"/></a></td>
                <td><a href="javascript:;"><img src="assets/images/note.png"/></a></td>
                <td><a href="javascript:;"><img src="assets/images/edit.png"/></a></td>
              </tr>                
            </table>
          </div>
        </div>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="Reservation List">
      <ng-template ngbTabContent>
        <p>Reservation List</p>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="Walkin Waiting List">
      <ng-template ngbTabContent>
        <p>Walkin Waiting List</p>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="History">
      <ng-template ngbTabContent>
        <p>History</p>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>


