:host ::ng-deep .nav-pills{background:#fff;}
:host ::ng-deep .nav-pills .nav-link{ margin: 0 5px; font-size: 14px; color: #000; border-bottom: 2px solid transparent; border-radius: 0; padding: .65rem 1rem;}
:host ::ng-deep .nav-pills .nav-link.active{ font-weight: 600; border-color: #f76858; background: transparent}
.liveRequestMain{background:#fff; padding: 15px 0; margin:17px 0;}
.liveRequestMain h4{margin-top: 10px;}
.bookingDetails{
    background: #f2f2f2;
    margin: 10px 0px;
    font-size: 12px;
}
.bookingDetails span{
    padding: 0px 10px;
}
.bdDate{font-weight: 600; padding:0 !important;}
.usernameContainer{
    width: 200px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    padding: 0px;
    font-size: 12px;
    box-shadow: 2px 1px 20px #F2F2F2;
}
.usernameContainer span{
    padding: 6px;
    display: table-cell;
    vertical-align: middle;
} 
.dbTable table th, .dbTable table td {text-align: center;vertical-align: middle; border: none;}
.dbTable table tr:nth-child(even){background-color: #f3f9ff;}
.dbTable table tr:nth-child(odd){background-color: #fff;}